<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Naggle</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/Owl Carousel/owl.carousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Content/images/favicon.png">
    <link href="~/Content/banner.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="~/Content/naggle-theme.css">
    <link rel="stylesheet" href="~/Content/naggle-theme-responsive.css">
    <link href="~/Content/ladda-themeless.min.css" rel="stylesheet" />


    @*<script src="~/Scripts/angular.min.js"></script>*@
    
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

 
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/ladda.min.js"></script>

     @*@Scripts.Render("~/bundles/angularjs")*@

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-validation.js"></script>
    <script src="~/Scripts/angular-validation-rule.js"></script>


    <script src="~/Scripts/Bootbox/bootbox.min.js"></script>
     
    <script src="~/Scripts/naggle-theme.js"></script>
    <script src="~/Scripts/Owl Carousel/owl.carousel.min.js"></script>
  
    <script src="~/Scripts/App/app.js"></script>


    <script src="~/Scripts/App/Services/Account/accountService.js"></script>

    <script src="~/Scripts/App/Controllers/Account/AccountController.js"></script>
    

    @* @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="wrapper" ng-app="appNaggle">
        <div class="menu">
            <nav class="navbar navbar-default navbar-theme">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="~/Content/images/naggle-logo.png"></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="container">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"><span class="menu-icon get-quotes"></span>Features</a></li>
                                <li><a href="#"><span class="menu-icon pickups"></span>Pricing</a></li>

                                @if (!User.Identity.IsAuthenticated)
                            {
                                <li><a href="#" data-toggle="modal" validation-reset="loginform" data-target="#login"><span class="menu-icon how-it-works"></span>Log In</a></li>  
                           }
                            else
                            {
                                var cp = System.Security.Claims.ClaimsPrincipal.Current.Identities.First();
                                var UserName = cp.Claims.FirstOrDefault(c => c.Type == "FullName");
                                    var uName =(UserName!=null)? UserName.Value:null;
                                <li class="text-white">Welcome,  @uName</li>
                           }

                                

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

        @RenderBody()
		
		       <div class="footer-content">
                   <div class="container">
                       <div class="bottom-footer">
                           <div class="row">
                               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <div class="footer-social-icons">
                                       <a href="#" class="footer-social-icon fa fa-facebook" data-toggle="tooltip" title="Facebook"></a>
                                       <a href="#" class="footer-social-icon fa fa-google-plus" data-toggle="tooltip" title="Google+"></a>
                                       <a href="#" class="footer-social-icon fa fa-youtube" data-toggle="tooltip" title="Youtube"></a>
                                       <a href="#" class="footer-social-icon fa fa-twitter" data-toggle="tooltip" title="Twitter"></a>
                                   </div>
                               </div>
                               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <p class="text-right">Copyright 2013-2016 &copy; Naggle. All rights reserved.</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

@{Html.RenderPartial("~/Views/Account/_Login.cshtml");}
    </div>

    




    <script src="~/Scripts/naggle-theme.js"></script>
    <script src="~/Scripts/Owl Carousel/owl.carousel.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
